<input type="text" #xssattack><button (click)="xss(xssattack)">xssgomb</button>


<ul>
  <li *ngFor="let ev of events">

    <img [src]="ev.pic" width="50px" height="50px">
    {{ev.name}}

  <button (click)="delete(ev.id)">Remove</button>

  </li>


</ul>
<div>
<label for="eventname">Új esemény neve</label>
<input type="text" #newEventNameInput id="eventname">
</div>

<div>
  <label for="eventpic">Új eseményhez tartóző kép</label>
  <input type="text" #newEventPicInput id="eventpic">
</div>
<button (click)="add(newEventNameInput, newEventPicInput)">SAVE</button>


  <pre>
  {{events | json}}
</pre>

