<!--The content below is only a placeholder and can be replaced.-->

<h3>ez átszíneződik??</h3>
<h4>ezt kommitolom</h4>

<ul>
  <li> sziget</li>
  <li> sziget_01</li>
  <li> sziget_02</li>
  <li> sziget_03</li>
</ul>

<ul>

  <li *ngFor="let event of events">


    {{event}}
  </li>


</ul>
<hr>
{{ title | uppercase }}
<hr>

<hr>
{{ pipeDemo | json }}
<hr>

<div *ngIf="show">
<p>Makkmarci</p>
</div>


<input type="text" [(ngModel)]="inputContent">
<div>
  {{inputContent}}
</div>



<button
  (click)="toogle()"
  (mouseover)="demo($event)"
  [disabled] ="klikkeljunke"


>TOGGLE</button>





<div [ngClass]="{'valami': show}">
  <p>
    ng class

  </p>
</div>

  <app-event></app-event>
<app-alma></app-alma>

